{% extends 'base.html' %}
{% block title %}课程详情——暮学在线网{% endblock %}
{% block custom_bread %}
    <section>
	<div class="wp">
		<div class="crumbs">
			<ul>
				<li><a href="/">首页</a>></li>
                <li><a href="{% url 'courses' %}">公开课程</a>></li>
				<li>课程详情</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}
{% block content %}
    {% load static %}
    <section>
	<div class="wp">
		<div class="groupPurchase_detail detail">
			<div class="toppro">
				<div class="left">
					<div class="picbox">
						<div class="tb-booth tb-pic">
							<img width="440" height="445" src="../../Banner/{{ course_cent.image }}" class="jqzoom" />
						</div>

					</div>
					<div class="des">
						<h1 title="django 从入门到精通体验开始了">{{ course_cent.name }}</h1>
						<span class="key">{{ course_cent.desc }}</span>
						<div class="prize">
							<span class="fl">难度：<i class="key">{{ course_cent.get_degree_display }}</i></span>
							<span class="fr">学习人数：{{ course_cent.students }}</span>
						</div>
						<ul class="parameter">
							<li><span class="pram word3">时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长：</span><span>{{ course_cent.learn_times }}</span></li>
                            <li><span class="pram word3">章&nbsp;节&nbsp;数：</span><span>{{ course_cent.get_zj_nums }}</span></li>
                            <li><span class="pram word3">课程类别：</span><span title="">{{ course_cent.category }}</span></li>
							<li class="piclist"><span class="pram word4">学习用户：</span>
                                     {% for user in course_cent.get_learn_users %}
                                    <span class="pic"><img width="40" height="40" src="../../Banner/{{ user.user.image }}"/></span>
                                    {% endfor %}

							</li>
						</ul>
						<div class="btns">
							<div class="btn colectgroupbtn" id="jsLeftBtn">
                                 {% if has_fav_course %}已收藏{% else %}收藏{% endif %}
                            </div>
                                <div class="buy btn"><a style="color: white" href="{% url 'course_video' course_cent.id %}">开始学习</a></div>
						</div>
					</div>
                    <div class="group-share-box">
                        <div class="bdsharebuttonbox"
                             data-text="django开始了"
                             data-desc="我在#慕课网#发现了"
                             data-comment=""
                             data-url="/group/groupdetail/15/">
                            <span class="fl">分享到：</span>
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
                            <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
                            <a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
                            <a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a>
                            <a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
                        </div>
                    </div>
				</div>
				<div class="right">
					<div class="head">
						<h1>授课机构</h1>
						<p>世界名校，课程权威</p>
					</div>
					<div class="pic">
                        <a href="{% url 'orghome' course_cent.course_org.id %}">
                            <img width="150" height="80" src="../../Banner/{{ course_cent.course_org.image }}"/>
                        </a>
                    </div>
					<a href="{% url 'orghome' course_cent.course_org.id %}">
                        <h2 class="center" title="{{ course_cent.course_org.name }}">{{ course_cent.course_org.name }}</h2>
                    </a>
					<div class="btn  notlogin"data-favid="14" id="jsRightBtn">
                         {% if has_fav_org %}已收藏{% else %}收藏{% endif %}
                    </div>
					<div class="clear">
						<ul>
                            <li>
                                <span>课 &nbsp;程&nbsp; 数：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{ course_cent.course_org.kcs }}</span>
                            </li>
                            <li>
                                <span>教 &nbsp;师&nbsp; 数：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{ course_cent.course_org.get_ls_sl }}</span>
                            </li>
							<li>所在地区：&nbsp;&nbsp;{{ course_cent.course_org.city }}</li>
							<li>认&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;证&nbsp;:
                                &nbsp;&nbsp;
								    <img title="金牌机构", src="{% static '/images/gold.png' %}"/>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
    <section>
	<div class="wp">
		<div class="list groupPurchase_detail_pro">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li class="active">课程详情</li>
					</ul>
				</div>
				<div class="tab_cont tab_cont1">

					<p>&nbsp; &nbsp; {{ course_cent.name }}</p><p>{% autoescape off %}{{ course_cent.detail }}{% endautoescape %} </p>

				</div>
				<div class="tab_cont tab_cont2" >
					<div class="comment">
						<div class="comenlist">

	                    </div>
					</div>
				</div>
			</div>
			<div class="right layout">
				<div class="head">相关课程推荐</div>
                <div class="group_recommend">
                    {% for tag in tag %}
                        <dl>
                            <dt>
                                <a target="_blank" href="{% url 'course_detail' tag.id %}">
                                    <img width="240" height="220" class="scrollLoading" src="../../Banner/{{ tag.image }}"/>
                                </a>
                            </dt>
                            <dd>
                                <a target="_blank" href="{% url 'course_detail' tag.id %}"><h2>{{ tag.name }}</h2></a>
                                <span class="fl">学习时长：<i class="key">{{ tag.learn_times }}</i></span>
                            </dd>
                        </dl>
                    {% endfor %}


                </div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block db_js %}
<script type="text/javascript">
//收藏分享
function add_fav(current_elem, fav_id, fav_type){
    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url 'add_fav' %}",
        data:{'fav_id':fav_id, 'fav_type':fav_type},
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'fail'){
                if(data.msg == '用户未登录'){
                    window.location.href="{% url 'login' %}";
                }else{
                    alert(data.msg)
                }

            }else if(data.status == 'success'){
                current_elem.text(data.msg)
            }
        },
    });
}

$('#jsLeftBtn').on('click', function(){
    add_fav($(this), {{ course_cent.id }}, 1);
});

$('#jsRightBtn').on('click', function(){
    add_fav($(this), {{ course_cent.course_org.id }}, 2);
});
</script>
{% endblock %}