{% extends 'base.html' %}
{% block title %}公开课列表——暮学在线网{% endblock %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="/">首页</a>></li>
                <li>公开课列表</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}
    {% load static %}
<section>
	<div class="wp">
		<div class="list" style="margin-top:0;">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li class="{% ifequal sort '' %}active{% endifequal %}"><a href="?sort=&keywords={{ search_key }}">最新 </a></li>
						<li class="{% ifequal sort 'hot' %}active{% endifequal %}"><a href="?sort=hot&keywords={{ search_key }}">最热门</a></li>
						<li class="{% ifequal sort 'students' %}active{% endifequal %}"><a href="?sort=students&keywords={{ search_key }}">参与人数</a></li>
					</ul>
				</div>
                <div id="inWindow">
                    <div class="tab_cont " id="content">
					<div class="group_list">
                        {% for coures_list in orgs.object_list %}
                            <div class="box">
                                <a href="{% url 'course_detail' coures_list.id %}">
                                    <img width="280" height="350" class="scrollLoading" src="../../Banner/{{ coures_list.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'course_detail' coures_list.id %}">
                                        <h2>{{ coures_list.name }}</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">{{ coures_list.learn_times }}小时</i></span>
                                    <span class="fr">学习人数：{{ coures_list.students }}&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="{% url 'course_detail' coures_list.id %}"><span class="fl">{{ coures_list.course_org.name }}</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        {{ coures_list.fav_nums }}
                                    </span>
                                </div>
                            </div>
                        {% endfor %}


					</div>
                    <div class="pageturn">
                       <ul class="pagelist">
                     {% if orgs.has_previous %}
                     <li class="long"><a href="?{{ orgs.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}
                    {% for page in orgs.pages %}
                        {% if page %}
                            {% ifequal page orgs.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                 <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                            {% else %}
                                <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if orgs.has_next %}
                        <li class="long"><a href="?{{ orgs.next_page_number.querystring }}">下一页</a></li>
                    {% endif %}
                    </ul>

                    </div>
				</div>
                </div>
			</div>
			<div class="right layout">
				<div class="head">热门课程推荐</div>
				<div class="group_recommend">
                    {% for coures_list in coures_lists %}
                    <dl>
						<dt>
							<a target="_blank" href="{% url 'course_detail' coures_list.id %}">
								<img width="240" height="220" class="scrollLoading" src="../../Banner/{{ coures_list.image }}"/>
							</a>
						</dt>
						<dd>
							<a target="_blank" href="{% url 'course_detail' coures_list.id %}"><h2> {{ coures_list.name }}</h2></a>
							<span class="fl">难度：<i class="key">{{ coures_list.get_degree_display }}</i></span>
						</dd>
					</dl>

					</dl>
                    {% endfor %}


				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}