{% extends 'base.html' %}
{% block title %}授课讲师详情——暮学在线网{% endblock %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="/">首页</a>></li>
                <li><a href="{% url 'teachers-list' %}">授课讲师</a>></li>
                <li>讲师详情</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}
    {% load static %}
    <section>
	<div class="wp butler-detail-box butler-diaryd-box clearfix">
        <div class="fl list">
            <div class="butler_detail_list clearfix">
                <div class="brief">
                    <dl class="des">
                        <dt>
                            <div class="picpic">
                                <img width="100" height="100" src="../../Banner/{{ teacher_detail.image }}"/>
                            </div>
                            <div class="btn">
                                <span class="fl btn1 collectionbtn" id="jsLeftBtn">
                                     {% if has_js %}已收藏{% else %}收藏{% endif %}
                                </span>
                                <span class="fr btn2 shareBtn bdsharebuttonbox"
                                      data-text="授课教师-{{ teacher_detail.name }}-慕学网"
                                      data-desc="我在#慕课网#发现了"
                                      data-comment="{{ teacher_detail.name }}，工作年限：{{ teacher_detail.work_years }}年；学历：本科；所在公司：{{ teacher_detail.work_comfany }}"
                                      data-url="{% url 'teachers-detail' teacher_detail.id %}">
                                    <span class="fl">分享</span>
                                    <a href="#" class="bds_more" data-cmd="more"></a>
                                </span>
                            </div>
                        </dt>
                        <dd>
                            <a href="{% url 'teachers-detail' teacher_detail.id %}">
                                <h1>{{ teacher_detail.name }}<span class="key picbig">金牌讲师</span></h1>
                            </a>
                            <ul class="cont">
                                <li>工作年限：<span>{{ teacher_detail.work_years }}年</span></li>
                                <li>就职公司：<span>{{ teacher_detail.work_comfany }}</span></li>
                                <li>工作职位：<span>{{ teacher_detail.work_position }}&nbsp;</span></li>
                                <li>教学特点：<span>{{ teacher_detail.points }}</span></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="butler_detail_cont clearfix">
                <div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li class="active"><a href="/diary/hk_detail/10/">全部课程</a> </li>
					</ul>
				</div>
                    <div class="companycenter">
                        <div class="group_list brief">
                        {% for all_courses in all_courses %}
                            <div class="module1_5 box">
                                <a href="{% url 'course_detail' all_courses.id %}">
                                    <img width="214" height="190" class="scrollLoading" src="../../Banner/{{ all_courses.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'course_detail' all_courses.id %}"><h2>{{ all_courses.name }}2</h2></a>
                                    <span class="fl">时长：<i class="key">{{ all_courses.learn_times }}</i></span>
                                    <span class="fr">学习人数：{{ all_courses.students }}</span>
                                </div>
                                <div class="bottom">
                                    <span class="fl">{{ all_courses.course_org }}</span>
                                    <span class="star fr  notlogin" data-favid="15">{{ all_courses.fav_nums }}</span>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                <!--<div class="pageturn">-->
                    <!--<ul class="pagelist">-->
                        <!--<li class="active"><a href="?page=1">1</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
            </div>
        </div>
        <div class="fr list">
             <div class="butler_detail_list">
                <div class="right butler-company-box">
                <div class="head">
                    <h1>{{ teacher_detail.org.name }}</h1>
                    <p>知名高校，权威教学</p>
                </div>
                <div class="pic">
                    <a href="{% url 'course' teacher_detail.org.id %}">
                        <img width="150" height="80" src="../../Banner/{{ teacher_detail.org.image }}"/>
                    </a>
                </div>
                <a href="{% url 'course' teacher_detail.org.id %}">
                    <h2 class="center">{{ teacher_detail.org.name }}</h2>
                </a>
                <p class="center tell">地址：{{ teacher_detail.org.address }}</p>
                <a class="btn" id="jsRightBtn">{% if has_jg %}已收藏{% else %}收藏{% endif %}</a>
            </div>
            </div>
            <div class="butler_detail_cont">
                <div class="butler_list_box">
                    <div class="right layout">
                        <div class="head">讲师排行榜</div>
                    {% for teacher_px in teacher_px %}
                        <dl class="des">
                            <span class="num fl">{{ forloop.counter }}</span>
                            <a href="{% url 'teachers-detail' teacher_px.id %}">
                                <dt>
                                    <img width="50" height="50" class="scrollLoading" src="../../Banner/{{ teacher_px.image }}"/>
                                </dt>
                            </a>
                            <dd>
                                <a href="{% url 'teachers-detail' teacher_px.id %}">
                                    <h1 title="bobby">{{ teacher_px.name }}</h1>
                                </a>
                                <p>工作年限：<span>{{ teacher_px.work_years }}年</span></p>
                            </dd>
                        </dl>
                    {% endfor %}

                    </div>
                </div>
            </div>
        </div>
	</div>
</section>
{% endblock %}
{% block db_js %}
<script type="text/javascript">
//收藏分享
function add_fav(current_elem, fav_id, fav_type){
    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url 'add_fav' %}",
        data:{'fav_id':fav_id, 'fav_type':fav_type},
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'fail'){
                if(data.msg == '用户未登录'){
                    window.location.href="{% url 'login' %}";
                }else{
                    alert(data.msg)
                }

            }else if(data.status == 'success'){
                current_elem.text(data.msg)
            }
        },
    });
}
$('#jsLeftBtn').on('click', function(){
    add_fav($(this), {{ teacher_detail.id }}, 3);
});

$('#jsRightBtn').on('click', function(){
    add_fav($(this), {{ teacher_detail.org.id }}, 2);
});

</script>
{% endblock %}
